fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
alembic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator
# Fix incompatibilidade do passlib com bcrypt 4.x (AttributeError __about__ e erro 72 bytes)
bcrypt==3.2.2
